#vz_homeHeader
{
	background: url(../images/background_index.jpg) no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 850px;
}

#vz_projectsHeader
{
	background: url(../images/background_projects.png) no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px
}

#vz_contactHeader
{
	background: url(../images/background_contact.png) no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px
}

#vz_presskitsHeader
{
    background: url(../images/background_presskits.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 660px;
}

.container h1 {
	font-size: 32px;
}
.container p {
	font-size: 18px;
}

.page-chooser {
    background: #0b121d;
    width: 100%;
    height: 60px
}

.page-chooser ul {
    list-style-type: none
}

.page-chooser li {
    display: inline-block;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    transition: .2s color linear;
    position: relative
}

.page-chooser li:after {
    bottom: -6px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
    transition: .2s bottom ease;
}

.page-chooser li:hover {
    color: rgba(255, 255, 255, .9)
}

.page-chooser li.active {
    color: #FFF;
}

.page-chooser li.active:after {
    bottom: 0
}

.a_light {
    color:rgba(200, 200, 200, 1.0);
    text-decoration: underline;
}

.a_light:hover {
    color:rgba(175, 175, 175, 1.0);
}

.navBar {
    position: fixed; 
    z-index: 1000; 
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.navBar:hover {
    background-color: rgba(0,0,0,1.0);
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    padding-top: 12px;
    float: right;
}

.navBar li {
    display: inline;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
}

.navBar a {
    color: white;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navBar .left {
    float: left;
    padding-left: 40px;
}

.navBar .left a {
    opacity: 1.0;
    text-shadow: 0 0 5px rgba(255,255,255,1.0);
}

.navBar a.active {
    opacity: 1.0;
    text-shadow: 0 0 5px rgba(255,255,255,1.0);
}

.navBar a:hover {
    opacity: 1.0;
    text-shadow: 0 0 5px rgba(255,255,255,1.0);
}

img.navBar-logo {
    position: fixed;
    left: 20px;
    top: -5px;
    width: 60px;
    height: 60px;
    z-index: 9999;
}

.profile-container {
    padding: 50px;
}

@media only screen and (max-width:1000px) {
    .navBar ul {
        padding-right: 10px;
    }

    .navBar li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navBar .left {
        padding-left: 45px;
    }

    img.navBar-logo {
        left: 0px;
    }

    .profile-container {
        padding: 5px;
    }
}

@media only screen and (max-width:640px) {
    #nav-left, img.navBar-logo {
        display:none;
    }

    .navBar ul {
        padding-right: 0px;
        float: none;
    }

    .navBar li {
        padding-left: 8px;
        padding-right: 8px;
        float: none;
        display: inline;
    }

    .navBar li a {
        display: inline-block;
    }

    .navBar {
        text-align: center;
    }

    img.navBar-logo {
        left: 0px;
    }

    .profile-container {
        max-width: 94%;
    }

    #vz_homeHeader {
        height: 475px;
    }

    #vz_projectsHeader {
        height: 450px
    }

    #vz_contactHeader {
        height: 425px
    }

    #vz_presskitsHeader {
        height: 375px;
    }
}