html, button, input, select, textarea {
    color: #222
}

html {
    font-size: 1em;
    line-height: 1.4em
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio, canvas, img, video {
    vertical-align: middle
}

textarea {
    resize: vertical
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
    display: block
}

[hidden], template {
    display: none
}

a {
    background: 0 0
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: #FFF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    overflow-x: hidden
}

.wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative
}

h1, h2, h3, h4, h5 {
    font-weight: 400
}

a {
    text-decoration: none
}

ul {
    margin: 0;
    padding: 0
}

.spline {
    padding: 60px 0
}

.spline.gray {
    background: #fafafa
}

.spline.second-gray {
    background: #F3F3F3
}

.spline.white {
    background: #FFF
}

.button {
    border-radius: 56px;
    font-size: 18px;
    line-height: 44px;
    padding: 0 20px;
    background: rgb(0,0,0,0);
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: .2s all linear
}

.button.blue {
    border: 2px solid rgba(40, 155, 229, 1);
    color: rgba(40, 155, 229, 1);
}

.button.blue:hover {
    color: rgba(12, 123, 195, 1);
    border-color: rgba(12, 123, 195, 1);
    background-color: rgba(12, 123, 195, 0.1);
}

.button.arrow {
    padding-right: 40px
}

.button.arrow:after {
    background: url(../images/arrow.png) no-repeat;
    content: "";
    width: 100%;
    height: 100%;
    max-width: 10; 
    max-height: 16;
    background-size:100% 100%;
    position: absolute;
    right: 16px;
    top: 15px;
    opacity: .55;
    transition: .2s all linear
}

.button.arrow:hover:after {
    opacity: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px)
}

.button.send {
    position: relative;
    padding-left: 44px
}

a.underliner {
    display: inline-block;
    transition: .2s all linear;
    position: relative
}

a.underliner>span {
    height: 1px;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0.8) translateY(-3px);
    -moz-transform: scale(0.8) translateY(-3px);
    -ms-transform: scale(0.8) translateY(-3px);
    transform: scale(0.8) translateY(-3px);
    transition: .2s all ease
}

a.underliner:hover>span {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0)
}

.caption {
    font-style: italic;
    color: rgba(33, 41, 52, .6);
    font-size: 12px;
    line-height: 1.8em;
    display: block
}

.caption>span {
    color: #212934;
    display: block;
    margin-bottom: 5px
}

header nav {
    display: inline-block;
    height: 34px;
    font-weight: 600;
    margin: 40px 0
}

header nav ul {
    list-style-type: none;
    float: left;
    margin-left: 42px
}

header nav ul li {
    display: inline-block;
    margin-right: 40px
}

header nav ul a {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue";
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(11, 18, 29, .6);
    text-shadow: 0 2px 4px rgba(175, 175, 175, .7);
    transition: .2s color linear;
    display: inline-block;
}

header nav ul a.active, header nav ul a:hover {
    color: rgba(11, 18, 29, .95)
}

.header>.wrap {
    padding-top: 100px
}

header {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%
}

header nav {
    width: 100%
}

body.down header.clone {
    top: 15px;
    left: 0;
    right: 0;
    z-index: 999
}

.header h1 {
    font-size: 46px;
    font-weight: 300
}

.header p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em
}

.footer {
    overflow: hidden;
    position: relative
}

.footer>.wrap {
    z-index: 2
}

.header.light h1 {
    margin: 70px 0 40px 0
}

.header.light p {
    margin: 0;
    max-width: 470px;
    color: rgba(33, 41, 52, .6)
}

.footer {
    padding: 45px 0 35px 0;
    background: #0b121d;
    text-align: center;
    position: relative
}
.footer .sitemap {
    margin-bottom: 10px
}

.footer .sitemap li {
    display: inline;
    margin: 0 10px
}

.footer .sitemap a {
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px
}

.footer .sitemap a>span {
    background-color: rgba(255, 255, 255, .4)
}

.footer .wrap>span {
    display: block
}

.footer .copyright {
    margin-top: 30px;
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
    letter-spacing: .5px
}

@media only screen and (max-width:1000px) {
    .wrap {
        width: 86%
    }

    header.clone {
        display: none
    }

    .header>.wrap {
        padding: 140px 0 10px 0
    }

    .header h1 {
        margin: 0 0 30px 0 !important;
        line-height: 1.2em;
    }

    .header p {
        margin: 0 0 40px 0 !important;
    }
}

@media only screen and (max-width:768px) {
    .wrap {
        width: 90%
    }

    #content {
        text-align: center;
    }
}

#profile-intro {
    color: #FFF;
    width: 440px;
    margin-top: 50px;
    position: relative
}

#profile-intro h1 {
    font-size: 46px;
    line-height: 50px;
    margin: 0 0 35px 0;
    font-weight: 400
}

#profile-intro p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
    max-width: 420px;
    color: #FFF
}

#profile-intro:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -55px;
    width: 112px;
    height: 23px;
}

h2 {
    font-size: 18px;
    margin: 0 0 15px 0;
    color: #212934
}

p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    color: rgba(33, 41, 52, .6);
    line-height: 1.6em
}

#open-info {
    left: 50%;
    margin-left: -129px
}

#profile-content {
    display: none
}

.content h2 {
    margin: 0;
    text-align: right;
    color: #212934;
    font-size: 26px;
    font-weight: 300;
    position: relative
}

.content h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: -o-linear-gradient(90deg, #fafafa 0, #dbdbdb 100%);
    background-image: -moz-linear-gradient(90deg, #fafafa 0, #dbdbdb 100%);
    background-image: -ms-linear-gradient(90deg, #fafafa 0, #dbdbdb 100%);
    background-image: linear-gradient(90deg, #fafafa 0, #dbdbdb 100%)
}

.content h3 {
    margin: 0 0 12px 0;
    color: #212934;
    font-size: 18px;
    font-weight: 400
}

.content p {
    font-size: 15px;
    color: rgba(33, 41, 52, .7);
    margin: 0 0 30px 0;
    font-weight: 300
}

.col-left {
    width: 30%;
    float: left;
    margin-right: 5%
}

.col-right {
    width: 65%;
    float: left;
    margin-bottom: 50px
}

.col-right>p {
    color: #212934;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    margin: 0 0 20px 0
}

ol {
    margin: 0;
    counter-reset: principles-counter;
    padding-left: 30px
}

ol li {
    list-style-type: none;
    position: relative
}

ol li:last-child p {
    margin: 0
}

ol li:before {
    content: counter(principles-counter, decimal-leading-zero);
    counter-increment: principles-counter;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #7ed321;
    font-weight: 600;
    position: absolute;
    left: -30px;
    top: -1px
}

.social {
    margin-bottom: 0
}

.social>div {
    background: #FFF;
    float: left
}

.social a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px
}

.social .inner {
    padding: 15px
}

.social .meta {
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: rgba(33, 41, 52, .6)
}

#profile-content .cta {
    margin: 60px 0 -60px 0
}

@media only screen and (max-width:1000px) {
    #profile-intro h1 {
        font-size: 56px;
        line-height: 1.2em
    }

    #profile-intro p {
        padding: 0;
        font-size: 24px;
        margin: 0 0 70px !important;
    }
}

@media only screen and (max-width:768px) {
    #profile-intro {
        width: 100%;
        margin: 0
    }

    #profile-intro:after {
        display: none
    }

    #profile-intro h1 {
        font-size: 52px;
        line-height: 46px;
        margin: 0 0 30px 0
    }

    #profile-intro p {
        margin: 0 0 100px !important;
        padding: 0;
        font-size: 20px;
        padding-right: 30%;
        max-width: 100%;
    }

    .col-left, .col-right {
        float: none;
        width: 100%
    }

    .content h2 {
        text-align: left;
        margin: 0 0 30px 0
    }

    .content h2:after {
        display: none
    }

    .social>div {
        float: none
    }
}

.header.work {
    height: 380px
}

.header.work h1 {
    margin: 50px 0 40px
}

.header.work p {
    margin: 0
}

.portfolio-item {
    height: 700px;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 80px 0;
}

.portfolio-item.white {
    background: #FFF;
}

.portfolio-item.white.even {
    background: #fafafa;
}

.portfolio-item h2 {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 1.1em;
    color: #212934;
}

.portfolio-item p {
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 35px;
    line-height: 1.4em;
    color: rgba(33, 41, 52, .6)
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .4);
}

#appstoreimg, #googleplayimg {
    opacity: 0.8;
    transition: opacity 0.5s ease;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#appstoreimg:hover, #googleplayimg:hover {
    opacity: 1.0;
}

.portfolio-item .description {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    text-align: left
}

.portfolio-item .review-source {
    font-style: italic;
    font-size: 13px;
}

@media only screen and (max-width:1000px) {
    .portfolio-item {
        padding: 40px 0;
        height: auto !important;
    }

    .portfolio-item .description {
        position: relative;
        width: 100%;
        top: auto;
        margin-top: 0;
        left: auto;
        right: auto;
        text-align: center
    }

    .portfolio-item .description {
        margin-top: 20px;
    }

    .portfolio-item h2 {
        margin: 0 0 15px;
    }

    .portfolio-item .description p {
        margin: 0 0 25px;
    }
}

@media only screen and (max-width:768px) {

    .header.work p br {
        display: none
    }

    .portfolio-item .top-bar {
        display: none
    }

    .introduction.columns>div {
        float: none;
        width: 100%
    }
}

@media only screen and (max-width:480px) {
    .portfolio-item {
        padding: 30px 0 0;
        margin-bottom: 20px
    }

    .portfolio-item h2 {
        margin: 0 0 10px
    }

    .portfolio-item p {
        margin: 0 0 15px
    }

    blockquote {
        margin: 0
    }
}

h2 {
    font-size: 28px;
    color: rgba(50,50,50,1.0);
    margin: 0 0 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h3 {
    font-size: 18px;
    color: rgba(75,75,75,1.0);
    margin: 0 0 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.column-left, .column-right {
    float: left
}

.column-left {
    width: 660px;
    margin: 0 80px 20px 0
}

.column-right {
    width: 260px
}

.contact-social-links {
    margin: 0 0 35px;
    list-style-type: none
}

.contact-social-links li {
    margin-bottom: 5px
}

.contact-social-links small {
    font-size: 14px;
    float: right;
    line-height: 38px;
    color: rgba(58, 79, 92, .3)
}

.contact-social-links a {
    padding: 8px 0 8px 0px;
    font-weight: 300;
    font-size: 20px;
    border-radius: 3px
}

.contact-social-links a>span {
    left: 0px
}

.contact-social-links .twitter {
    color: rgba(0, 172, 237, 1.0);
    background-position: -376px 8px
}

.contact-social-links .twitter>span {
    background-color: rgba(0, 172, 237, 1.0)
}

.contact-social-links .linkedin {
    color: rgba(0, 123, 182, 1.0);
    background-position: -376px -42px
}

.contact-social-links .linkedin>span {
    background-color: rgba(0, 123, 182, 1.0);
}

.contact-social-links .youtube {
    color: rgba(229, 45, 39, 1.0);
    background-position: -376px -42px
}

.contact-social-links .youtube>span {
    background-color: rgba(229, 45, 39, 1.0);
}

.contact-social-links .github {
    color: rgba(40, 40, 40, 1.0);
    background-position: -376px -42px
}

.contact-social-links .github>span {
    background-color: rgba(40, 40, 40, 1.0);
}

#hello-form {
    display: none
}

fieldset {
    border: none;
    padding: 15px;
    margin: 0;
    position: relative
}

#result, #result-hello {
    display: none;
    background: #FFF;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center
}

#result span, #result-hello span {
    display: block;
    color: rgba(0, 0, 0, .6);
    font-size: 18px;
    font-weight: 300
}

#result .heading, #result-hello .heading {
    font-size: 24px;
    color: #212934;
    margin-bottom: 10px
}

#result .success, #result-hello .success {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

input[type=text], input[type=email], textarea {
    font-weight: 300;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(90, 97, 102, .2);
    display: block;
    width: 100%;
    margin-bottom: 35px;
    color: #000;
    padding: 0 0 5px
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: 0
}

.floatlabel-wrapper>label {
    font-size: 13px;
    font-weight: 600;
    color: #289be5
}

textarea {
    height: 22px;
    padding-bottom: 3px;
    transition: .2s height ease;
    line-height: 1.5em
}

#message {
    height: 132px;
}

::-webkit-input-placeholder {
    color: #7D7D7D
}

:-moz-placeholder {
    color: #7D7D7D
}

::-moz-placeholder {
    color: #7D7D7D
}

:-ms-input-placeholder {
    color: #7D7D7D
}

.select-style {
    padding: 5px 0 0;
    margin: 0 0 45px;
    border-bottom: 1px solid rgba(90, 97, 102, .2);
    width: 320px;
    overflow: hidden;
    background-color: #fff;
    float: left;
    position: relative;
    margin-right: 20px
}

.select-style:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 6px;
    right: 10px;
    top: 12px
}

.select-style.last {
    margin-right: 0
}

.select-style select {
    padding: 0 0 5px;
    width: 320px;
    border: none;
    font-weight: 300;
    font-size: 18px;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000
}

.select-style select.default-value {
    color: #7D7D7D
}

.select-style select:focus {
    outline: 0
}

.respond-time {
    color: #7D7D7D;
    font-size: 16px;
    font-weight: 300;
    line-height: 52px
}

.respond-time>span {
    color: #464646
}

.contact-content .button {
    float: right
}

.contact-content .button:active, .contact-content .button:focus {
    outline: 0
}

.stamp {
    height: 180px;
    width: 180px;
    background: url(../img/content/contact/sent-stamp.png) no-repeat;
    background-size: 180px 180px;
    position: absolute;
    right: 60px;
    top: -150px;
    opacity: 0;
    -webkit-animation: stamp-in .3s 1s ease-in forwards;
    -moz-animation: stamp-in .3s 1s ease-in forwards;
    -ms-animation: stamp-in .3s 1s ease-in forwards;
    animation: stamp-in .3s 1s ease-in forwards
}

@-webkit-keyframes stamp-in {
    from {
        opacity: 0;
        -webkit-transform: scale(2) rotate(0deg);
        transform: scale(2) rotate(0deg)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(0.8) rotate(15deg);
        transform: scale(0.8) rotate(15deg)
    }
}

@-moz-keyframes stamp-in {
    from {
        opacity: 0;
        -moz-transform: scale(2) rotate(0deg);
        transform: scale(2) rotate(0deg)
    }

    to {
        opacity: 1;
        -moz-transform: scale(0.8) rotate(15deg);
        transform: scale(0.8) rotate(15deg)
    }
}

@-ms-keyframes stamp-in {
    from {
        opacity: 0;
        -ms-transform: scale(2) rotate(0deg);
        transform: scale(2) rotate(0deg)
    }

    to {
        opacity: 1;
        -ms-transform: scale(0.8) rotate(15deg);
        transform: scale(0.8) rotate(15deg)
    }
}

keyframes stamp-in from {
    opacity: 0;
    -webkit-transform: scale(2) rotate(0deg);
    -moz-transform: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(2) rotate(0deg)
}

keyframes stamp-in to {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(15deg);
    -moz-transform: scale(0.8) rotate(15deg);
    -ms-transform: scale(0.8) rotate(15deg);
    transform: scale(0.8) rotate(15deg)
}

@media only screen and (max-width:1000px) {
    .column-left {
        width: 60%;
        margin: 0 7% 20px 0
    }

    .column-right {
        width: 33%
    }

    .select-style {
        width: 100%;
        margin: 0 0 35px
    }

    .respond-time {
        display: none
    }
}

@media only screen and (max-width:768px) {
    .column-left {
        float: none;
        width: 100%
    }

    .column-left {
        margin-bottom: 0
    }

    .column-right {
        display: none
    }

    .contact-content .button {
        width: 100%;
        float: none
    }

    .contact-content .button:before {
        display: none
    }
}

@media only screen and (max-width:480px) {
    .select-style {
        width: 100%
    }

    .select-style select {
        width: 100%
    }

    .form-chooser ul {
        text-align: center
    }
}