.header.work {
    height: 380px
}

.header.work h1 {
    margin: 50px 0 40px
}

.header.work p {
    margin: 0
}

.portfolio-item {
    height: 700px;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 80px 0;
}

.portfolio-item.white {
    background: #FFF;
}

.portfolio-item.white.even {
    background: #fafafa;
}

.portfolio-item h2 {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 1.1em;
    color: #212934;
}

.portfolio-item p {
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 35px;
    line-height: 1.4em;
    color: rgba(33, 41, 52, .6)
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .4);
}

#appstoreimg, #googleplayimg {
    opacity: 0.8;
    transition: opacity 0.5s ease;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#appstoreimg:hover, #googleplayimg:hover {
    opacity: 1.0;
}

.portfolio-item .description {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    text-align: left
}

.portfolio-item .review-source {
    font-style: italic;
    font-size: 13px;
}

@media only screen and (max-width:991px) {
    .portfolio-item {
        padding: 40px 0;
        height: auto !important;
    }

    .portfolio-item .description {
        position: relative;
        width: 100%;
        top: auto;
        margin-top: 0;
        left: auto;
        right: auto;
        text-align: center
    }

    .portfolio-item .description {
        margin-top: 20px;
    }

    .portfolio-item h2 {
        margin: 0 0 15px
    }

    .portfolio-item p {
        margin: 0 0 25px
    }
}

@media only screen and (max-width:768px) {

    .header.work p br {
        display: none
    }

    .portfolio-item .top-bar {
        display: none
    }

    .introduction.columns>div {
        float: none;
        width: 100%
    }
}

@media only screen and (max-width:480px) {
    .portfolio-item {
        padding: 30px 0 0;
        margin-bottom: 20px
    }

    .portfolio-item h2 {
        font-size: 30px;
        margin: 0 0 10px
    }

    .portfolio-item p {
        font-size: 16px;
        margin: 0 0 15px
    }

    blockquote {
        margin: 0
    }
}


