<script>
  //Select the Presskits navbar item
  $('.navBar a').removeClass('active');
  $('#presskits_header').addClass('active');
</script>

<div style="background:black;">
  <div class="header profile light" id="vz_presskitsHeader">
    <div class="wrap">
      <div id="profile-intro">
        <h1>Press Kits</h1>
        <p>Download Press Kits for my apps. If an app you're interested in is missing, feel free to <a href="/contact" class="a_light">contact me</a>.</p>
      </div>
    </div>
  </div>
</div>
</head>

<div class="page-chooser">
  <ul class="wrap">
    <li id="PressKits" class="active wow fadeIn" data-wow-duration="0.75s" data-wow-delay=".3s">Press Kits</li>
  </ul>
</div>

<br></br>
<br></br>
<div class="presskit_icon wow fadeIn" data-wow-duration="0.75s">
  <center>
    <a href="vz_presskits/Flooding Dots Press Kit.zip"><img src="images/icon_floodingdots.png"></a>
    <br></br>
    <p class="presskit_title">Flooding Dots</p>
  </center>
</div>
<br></br>

<br></br>
<div class="presskit_icon wow fadeIn" data-wow-duration="0.75s">
  <center>
    <a href="vz_presskits/Encircle 2 Press Kit.zip"><img src="images/icon_encircle2.png"></a>
    <br></br>
    <p class="presskit_title">Encircle the Turtle 2</p>
  </center>
</div>
<br></br>

<br></br>
<div class="presskit_icon wow fadeIn" data-wow-duration="0.75s">
  <center>
    <a href="vz_presskits/Moby Dick Press Kit.zip"><img src="images/icon_mobydick.png"></a>
    <br></br>
    <p class="presskit_title">Moby Dick</p>
  </center>
</div>
<br></br>

<br></br>
<div class="presskit_icon wow fadeIn" data-wow-duration="0.75s">
  <center>
    <a href="vz_presskits/SpreadIt Press Kit.zip"><img src="images/icon_spreadit.png"></a>
    <br></br>
    <p class="presskit_title">SpreadIt</p>
  </center>
</div>
<br></br>
<br></br>
