<script>
  //deselect navbar
  $('.navBar a').removeClass('active');
</script>
<div class="container" style="padding:50px;">
  <center><img src="../images/icon_encircle2.png" style="max-width:40%"></center>
  <h1 class="page-header wow fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">Privacy Policy</h1>
  <p class="wow fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
    We are committed to protecting your private information. This Privacy Policy Statement applies to Encircle the Turtle 2 and governs collection and usage of data. By using Encircle the Turtle 2, you consent to the data practices described in this statement.
  </p>
  <br></br>
  <p class="wow fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
    Encircle the Turtle 2 is strongly committed to protecting the privacy of its users and is dedicated to ensure that your personal information remains personal. To be clear, <b>Encircle the Turtle 2 does not collect, track, profile, or share your personal information.</b>
  </p>
  <br></br>
  <p class="wow fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
    If our information practices change at some time in the future we will post the policy changes on our website to notify you of these changes and provide you with the ability to opt out of these new uses. If you are concerned about how your information is used, you should periodically check this section of our website.
  </p>
  <br></br>
  <p>Effective as of December 3, 2015.</p>
</div>