<script>
  //Select the Profile navbar item
  $('.navBar a').removeClass('active');
  $('#profile_header').addClass('active');
</script>

<div class="header profile light" id="vz_homeHeader">
  <div class="wrap">
  </div>
</div>

<div class="page-chooser">
  <ul class="wrap">
    <li ui-sref='profile.about' id='profile_about_me'>About Me</li>
    <li ui-sref='profile.resume' id='profile_resume'>Resume</li>
  </ul>
</div>

<div ui-view class="anim-in-out anim-slide-below-fade" data-anim-sync="true"></div>