<script>
  $('.page-chooser li').removeClass('active');
  $('#profile_resume').addClass('active');
</script>
<div class="container">
  <h1 class="page-header">Resume</h1>
    <br></br>
    <p>If you would like to obtain a copy of my resume, please <a href="/contact">contact me</a> and I will get back to you as soon as I can.</p>
    <br></br>
    <br></br>
    <p>If you'd like to see actual projects I've developed or download actual apps I've created, click the button below.</p>
    <br></br>
    <a ui-sref='projects.iOS'> <span id="open-info" class="button blue arrow">View My Work</span> </a>
    <br></br>
    <br></br>
    <br></br>
</div>