<script>
  $('.page-chooser li').removeClass('active');
  $('#iOS').addClass('active');
</script>

<article class="portfolio-item white" ng-repeat="project in projects" ng-class-even="'even'">
  <div class="wrap row">

    <div class="col-md-7">
      <div class="image-wrapper-blank">
        <center>
          <img ng-src="{{project.imageURL}}" alt="{{project.name}}" width="{{project.landscape ? 441 : 567}}" height="500">
        </center>
      </div>
    </div>

    <div class="col-md-5">
      <div class="description">
        <div>
          <h2>{{project.name}}</h2>
          <p>
            <span style="color:black">{{project.subtitle}}</span>
            <br><br>
            <span ng-bind-html="project.descriptionHTML | unsafe"></span>
          </p>
        </div>
        <a ng-href="{{project.link}}" target="_blank"><img src="images/appstore.svg" id="appstoreimg"></a>
      </div>
    </div>

  </div>
</article>

<br></br>
<br></br>
<a href="http://ax.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?term=victor%20zhou">
  <span id="open-info" class="button blue arrow wow fadeIn" data-wow-duration="0.75s" data-wow-delay=".1s">See All of my iOS Apps</span>
</a>
<br></br>
<br></br>