<script>
  //Select the Projects navbar item
  $('.navBar a').removeClass('active');
  $('#projects_header').addClass('active');
</script>
<div style="background:black;">
  <div class="header profile light" id="vz_projectsHeader">
    <div class="wrap">
      <div id="profile-intro">
        <h1>My Projects</h1>
        <p>
          Check out the projects I've worked on, or just view my <a href="http://www.github.com/vzhou842" target="_blank" class="a_light">Github</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="page-chooser">
  <ul class="wrap">
    <li id="web" ui-sref='projects.web'>Web</li>
    <li id="iOS" ui-sref='projects.iOS'>iOS</li>
    <li id="Android" ui-sref='projects.Android'>Android</li>
    <li id="research" ui-sref='projects.research'>Research</li>
  </ul>
</div>

<div ui-view class="anim-in-out anim-slide-below-fade" data-anim-sync="true"></div>