<script>
  $('.page-chooser li').removeClass('active');
  $('#research').addClass('active');
</script>
<div style="background:#FFF;">
  <div class="container">
    <br></br>
    <br></br>
    <h1>Facial Feature Detection Using the Hough Transform</h1>
    <p>
      During the summer of 2012, I conducted research on Facial Feature Detection Using the Hough Transform at Total Wire Corporation of Plano, Texas. Most well-known face-detection algorithms today, including the famous Viola-Jones method, target coarse facial features and are not naturally suitable for fine facial feature detection. My research aimed to develop a way to detect these finer features. During my research, the specific problem I chose to investigate was the real-time detection of eyes on the human face. To do this, I utilized a combination of pre-processing, a generalized Hough Transform, a classifier cascade, and noise normalizations. Ultimately, my algorithm was able to detect 65% of eyes in real time in a blind run on a test database. However, since this database was developed for full face detection and not specifically eye detection, many of the images had obscured or even nonexistent eyes. Thus, the actual accuracy of my algorithm was much higher.
      <br></br>
      To read my full research paper on this topic, click <a href="research_paper.pdf">here</a>.
      <br></br>
      <br></br>
    </p>
  </div>
</div>

<div style="background:#fafafa;">
  <div class="container wow fadeIn" data-wow-duration="0.75s" data-wow-delay=".1s">
    <br></br>
    <br></br>
    <h1>Utilizing Homologous Simplicial Complexes to Model Genomic Data</h1>
    <p>
      During the summer of 2013, I conducted research at the Texas Honors Summer Math Camp with Jessica Wang and Ying Liu, both high school students at the Liberal Arts and Science Academy in Austin at the time. We designed a computer program that analyzes sets of DNA sequences and groups them according to certain characteristics, such as genetic diseases. Jessica and Ying entered the project into the Austin area Science Fair in the Cellular + Molecular Biology division and advanced to the Intel International Science and Engineering Fair (ISEF).
      <br></br>
      <br></br>
    </p>
  </div>
</div>